    /* Basic styles for DataTable */
    table.dataTable {
        border-collapse: collapse;
        width: 100%;
        margin-top: 1rem; /* Ajuste de margen para mejor espaciado */
      }
      table.dataTable thead {
        background-color: #000000;
        color: #fff;
      }
      table.dataTable tbody tr {
        background-color: #d1d1d1;
        border-bottom: 1px solid #494949;
      }
      table.dataTable tbody tr:hover {
        background-color: #8f8d8d;
      }
      table.dataTable td,
      table.dataTable th {
        border: 1px solid #494949;
        padding: 8px;
      }
      .dataTables_wrapper .dataTables_filter input {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 12px;
        margin-left: 0.5em;
      }
      .dataTables_wrapper .dataTables_length select {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 12px;
        margin-right: 0.5em;
      }
      .dataTables_wrapper .dataTables_paginate .paginate_button {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 12px;
        margin: 2px;
        cursor: pointer;
      }
      .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background-color: #e2e2e2;
      }
      .dataTables_wrapper .dataTables_info {
        margin-top: 10px;
      }
    
      /* Estilos adicionales para la impresión */
      @media print {
        table.dataTable {
          width: 100% !important;
          margin: 0 !important;
        }
        .dataTables_wrapper .dataTables_filter,
        .dataTables_wrapper .dataTables_length,
        .dataTables_wrapper .dataTables_info,
        .dataTables_wrapper .dataTables_paginate {
          display: none !important;
        }
      }